@page
@model CartModel

<h2>Alisveris Sepeti</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Adet</th>
            <th>Urun</th>
            <th>Fiyat</th>
            <th>Toplam</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model?.Cart?.Items ?? Enumerable.Empty<CartItem>())
        {
            <tr>
                <td>@item.Quantity</td>
                <td>@item.Product.Name</td>
                <td>@item.Product.Price</td>
                <td>
                    @((item.Quantity * item.Product.Price).ToString()) ₺
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Toplam:</td>
            <td>
                @Model?.Cart?.CalculateTotal() ₺
            </td>
        </tr>
    </tfoot>
</table>

<div>
    <a class="btn btn-primary" href="/">Alisverise Devam Et</a>
</div>