@model Cart

@if(Model?.Items.Count() > 0 )
{
    <a href="/Cart" class="btn btn-sm btn-warning">Sepete git</a>

    <small class="text-white">
        @Model?.Items.Sum(i=> i.Quantity) adet 端r端n.
        [@Model?.CalculateTotal()] adet 端r端n
    </small>
}